.tourhints{
  &__bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: hsla(0,0,0,0.85);
    z-index: 1000;
  }
  &__el{
    z-index: 1001;
    transform: none;
    box-shadow: 0 0 16px 16px #ff9000;
    position: fixed;
    width: var(--width, unset);
    max-width: var(--width, unset);
    min-width: var(--width, unset);
    height: var(--height, unset);
    max-height: var(--height, unset);
    min-height: var(--height, unset);
  }
  &__text{
    color: #fff;
    position: fixed;
    display: inline-block;
    z-index: 1001;
    font-size: 20px;
    max-width: 500px;
    max-height: 100px;
    transition: left 0.2s ease-in-out, top 0.2s ease-in-out;
    font-family: 'Roboto',sans-serif;
    hyphens: auto;
  }
  &__arrow{
    z-index: 1001;
    position: fixed;
    border: 3px solid #ffffff;
    &::after{
      content: '';
      position: absolute;
    }
    &--top-left{
      border-top-right-radius: 100%;
      border-bottom: none;
      border-left: none;
      &::after{
        border-right: 30px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        top: 0;
        left: 0;
        transform: translate(-100%, -63%);
      }
    }
    &--top-right{
      border-top-left-radius: 100%;
      border-bottom: none;
      border-right: none;
      &::after{
        border-left: 30px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        top: 0;
        left: 100%;
        transform: translate(0%, -63%);
      }
    }
    &--top{
      border: none;
      background-color: #ffffff;
      transform-origin: center center;
      &::after{
        border-bottom: 30px solid white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        top: 0;
        left: 0;
        transform: translate(-37%, -100%);
      }
    }
    &--bottom-left{
      border-top-left-radius: 100%;
      border-bottom: none;
      border-right: none;
      &::after{
        border-top: 30px solid white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        top: 100%;
        left: 0;
        transform: translate(-62%, 0);
      }
    }
    &--bottom-right{
      border-top-right-radius: 100%;
      border-bottom: none;
      border-left: none;
      &::after{
        border-top: 30px solid white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        top: 100%;
        left: 100%;
        transform: translateX(-38%);
      }
    }
    &--bottom{
      border: none;
      background-color: #ffffff;
      transform-origin: center center;
      &::after{
        border-top: 30px solid white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        top: 100%;
        left: 0;
        transform: translate(-37%, 0%);
      }
    }
    &--left{
      border: none;
      background-color: #ffffff;
      transform-origin: center center;
      &::after{
        border-right: 30px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        top: 0;
        left: 0;
        transform: translate(-100%, -37%);
      }
    }
    &--right{
      border: none;
      background-color: #ffffff;
      transform-origin: center center;
      &::after{
        border-left: 30px solid white;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        top: 0;
        left: 100%;
        transform: translate(0%, -37%);
      }
    }
  }
  &__button{
    position: absolute;
    // width: 60px;
    height: 20px;
    line-height: 18px;
    font-weight: 600;
    font-variant: small-caps;
    text-transform: lowercase;
    background-color: #007feb;
    color: #ffffff;
    padding: 13px 40px;
    border-radius: 4px;
    top: calc(100% + 20px);
    z-index: 1003;
    cursor: pointer;
    display: block;
    font-family: 'Roboto',sans-serif;
    clear: both;
    &--next{
      right: 10px;
    }
    &--prev{
      right: unset;
      left: 0;
    }
    &--skip{
      position: fixed;
      background-image: url(./../assets/close-white.svg);
      background-position: center center;
      top: 80px;
    background-color: #004888;
    background-size: 30px;
      // transform: scale(1.5);
      height: 30px;
      padding: 5px;
      background-repeat: no-repeat;
      width: 30px;
      left: calc(100vw - 65px);
      background-color: #848484;
      border-radius: 50%;
    }
  }
}
