*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Roboto, sans-serif;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0.0000001;
}

:root{

}
